@(
	groupes :List[Groupe], 
	groupeForm :Form[Groupe]
) 

@import helper._

@main("Groupes") {

<h4>@groupes.size() Groupe(s)</h4>

<div class="container">

 <div class="row">

 	<div class="span3">
 		 
 		  <div class="well sidebar-nav fixed">  
            <ul class="nav nav-list">  
              <li class="nav-header">Mon compte :</li>  
              <li class=""><a href="#">Afficher</a></li>
              <li class=""><a href="#">Supprimer</a></li>
              <li class="nav-header">Message :</li>  
              <li><a href="#">Afficher</a></li>
              <li><a href="/messages#ancre">Poster un message</a></li>
              <li class="nav-header">Groupe :</li>  
              <li><a href="#">Rejoindre</a></li>
           </ul>  
          </div>
 		
 	</div>

	<div class="span9">
	
	<div class="well"> 
	<h4 id="ancre">Liste de tous les Groupes :</h4><br />

	@for(groupe <- groupes) { 
	
	<strong>Nom groupe :</strong> @groupe.getNomGroupe #@groupe.getId()<br />
	<strong>Admin groupe :</strong> @groupe.getUserAdmin.getPseudo<br />
	@for(user <- groupe.getMembers()) { 	
		<strong>pseudo :</strong> @user.getPseudo() #@user.getId()<br />
	}
	<strong>list count :</strong> @groupe.getMembers.size()<br />
	
	<a href="#" class="btn btn-mini btn-info">Suivre</i></a>
	@if(Autorisation.isAdmin()||Autorisation.isOwnerGroupe(groupe.getId)) {
		@form(routes.ApplicationGroupes.deleteGroupeById(groupe.getId)){ 
			<input class="btn btn-mini btn-danger" type="submit" value="Delete"><i class="icon-trash icon-white"></i>
		}
	}
	@if(session.get("mail")!=groupe.getUserAdmin.getMail){
		@form(routes.ApplicationGroupes.joinGroupe(groupe.getId)){ 
			<input class="btn btn-mini" type="submit" value="Join"><i class="icon-trash icon-bleu"></i>
		}
	}
		<br /><br />
		
	
	
	<legend></legend>
	}
	</div>

	
	

	
		
	</div>
	
</div>

</div>

		

}


<!--  <h2>créer un nouveau compte Groupe</h2>
@form(routes.ApplicationGroupes.newGroupe()) { 
@inputText(groupeForm("nom"))
@inputText(groupeForm("pnom"))
@inputText(groupeForm("pseudo"))
@inputText(groupeForm("mail"))
@inputText(groupeForm("mdp"))
<input type="submit" value="Create">
} 
-->


