@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen"  href="@routes.Assets.at("bootstrap/css/bootstrap-add.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>


</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				
				<a href="/messages" class="brand">Twitter`Like</a>
			
				<div class="pull-right">
					<ul class="nav">
						<li><a href="/messages">Messages</a></li>
						<li><a href="/utilisateurs">Utilisateur</a></li>
						<li><a href="/logout">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
<div class="container">@content</div>

</body>
</html>