
@main("Profil") {

<div class="container">

 <div class="row">

 	<div class="span3">
 		 
 		  <div class="well sidebar-nav fixed">  
            <ul class="nav nav-list">  
              <li class="nav-header">Mon compte :</li>  
              <li class=""><a href="#">Afficher</a></li>
              <li class=""><a href="#">Supprimer</a></li>
              <li class="nav-header">Message :</li>  
              <li><a href="#">Afficher</a></li>
              <li><a href="/messages#ancre">Poster un message</a></li>
              <li class="nav-header">Groupe :</li>  
              <li><a href="#">Rejoindre</a></li>
           </ul>  
          </div>
 		
 	</div>

	<div class="span9">
	
	<div class="well"> 
	

	
	<strong>Pseudo :</strong><br />
	<strong>Nom :</strong><br />
	<strong>Email :</strong>
	

	</div>

	
	

	
		
	</div>
	
</div>

</div>

		

}