@(
	users :List[Utilisateur], 
	userForm :Form[Utilisateur], id:Long
) 

@import helper._

@main("Utilisateurs") {

<h4>@users.size() Utilisateur(s)</h4>

<div class="container">

 <div class="row">

 	<div class="span3">
 		 
 		  <div class="well sidebar-nav fixed">  
            <ul class="nav nav-list">  
              <li class="nav-header">Mon compte :</li>  
              <li class=""><a href= @routes.ApplicationUtilisateurs.getUtilisateurById(id)>Afficher</a></li>
              <li class=""><a href=@routes.ApplicationUtilisateurs.deleteUtilisateurById(id)>Supprimer</a></li>
              <li class="nav-header">Message :</li>  
              <li><a href="routes.ApplicationMessages.getAllMessages()">Afficher</a></li>
              <li><a href="/messages#ancre">Poster un message</a></li>
              <li class="nav-header">Groupe :</li>  
              <li><a href="#">Rejoindre</a></li>
           </ul>  
          </div>
 		
 	</div>

	<div class="span9">
	
	<div class="well"> 
	<h4 id="ancre">Liste de tous les utilisateurs :</h4><br />

	@for(user <- users) { 
	
	<strong>Pseudo :</strong> @user.getPseudo() #@user.getId()<br />
	<strong>Nom :</strong> @user.getPnom()  @user.getNom()<br />
	<strong>Email :</strong> @user.getMail<br />
	
	<a href="#" class="btn btn-mini btn-info">Suivre</i></a>
	@if(Autorisation.isAdmin()||Autorisation.isOwnerCompte(user.getId)) {
		@form(routes.ApplicationUtilisateurs.deleteUtilisateurById(user.getId)){ 
			<input class="btn btn-mini btn-danger" type="submit" value="Delete"><i class="icon-trash icon-red"></i>
		}
	}
		<br /><br />
	
	
	
	<legend></legend>
	}
	</div>

	
	

	
		
	</div>
	
</div>

</div>

		

}


<!--  <h2>créer un nouveau compte utilisateur</h2>
@form(routes.ApplicationUtilisateurs.newUtilisateur()) { 
@inputText(userForm("nom"))
@inputText(userForm("pnom"))
@inputText(userForm("pseudo"))
@inputText(userForm("mail"))
@inputText(userForm("mdp"))
<input type="submit" value="Create">
} 
-->


